body {
    
    background-color: red;
}

h1 {
    color:black;
    text-align: center;

}
h2 {
    font-size:30px;
    color:black;
}
h3 {
    font-size:30px;
    color:black;

    
}

p {
    color:black;
}